* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.main {
  padding: 10px;
}

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 90%;
  margin: 20px auto;
}

.user_container_left {
  flex-basis: 100px;
  height: 100%;
  background-color: #e3e3e3;
  overflow-y: hidden;
}

.user_container_left img {
  width: 100px;
  border-radius: 4px;
  height: 100px;
  object-fit: cover;
}

.user_container_right {
  flex-basis: calc(100% - 10%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 20px;
  background-color: #e3e3e3;
}

.user_container_right a {
  text-decoration: none;
  color: midnightblue;
}

.user_container_right .author {
  font-size: 24px;
  letter-spacing: 1px;
}

.user_container_right span {
  align-self: flex-end;
  font-weight: 600;
  letter-spacing: 1px;
}

.flex-btw {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #ececec;
  padding: 10px;
}

.bold {
  font-weight: 600;
}

.author_posts button {
  display: block;
  margin: 0 auto;
}

.author_post {
  height: 100px;
  width: 90%;
  margin: 20px auto;
}

.author_posts a,
.author_post a {
  color: midnightblue;
  text-decoration: none;
}

.author_post a:hover {
  color: darkblue;
  text-decoration: underline;
}

.author_post span {
  align-self: flex-end;
}

.center {
  margin: 0 auto;
}

.author_post_comments {
  width: 90%;
  margin: 0 auto;
  border: 1px solid #eee;
}

.comment {
  padding: 4px;
}

.new_post_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.new_post {
  width: 40%;
}

.label {
  margin-bottom: 7px;
}

.field {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid silver;
  border-radius: 4px;
  margin-bottom: 14px;
  resize: none;
}

.submit {
  padding: 20px 0;
  width: 100px;
}

.user_reaction {
  text-align: center;
}
