* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.main {
  padding: 10px;
}

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 90%;
  margin-bottom: 20px;
  margin: 20px auto;
}

.user_container_left {
  flex-basis: 100px;
  height: 100%;
  background-color: #e3e3e3;
  overflow-y: hidden;
}

.user_container_left img {
  width: 100px;
  border-radius: 4px;
  height: 100px;  
  object-fit: cover;
}

.user_container_right {
  flex-basis: calc(100% - 10%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 20px;
  background-color: #e3e3e3;
}

.user_container_right a {
  text-decoration: none;
  color: midnightblue;
}

.user_container_right .author {
  font-size: 24px;
  letter-spacing: 1px;
}

.user_container_right span {
  align-self: flex-end;
  font-weight: 600;
  letter-spacing: 1px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #ececec;
  padding: 10px;
}

.bold {
  font-weight: 600;
}

.author_post {
  height: 100px;
  width: 90%;
  margin-bottom: 20px;
  margin: 20px auto;
}

.author_post span {
  align-self: flex-end;
}

.center {
  margin: 0 auto;
}